<header>
  <!-- navigation -->
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img
          src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
          width="30"
          height="30"
          class="d-inline-block align-top"
          alt="好。吃"
        />
        我的餐廳清單
      </a>
    </div>
  </nav>

  <div class="banner"></div>
</header>

<h1 class="mb-1 restaurant-show-title">哪家美食不在這！？</h1>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 mx-auto">
      <form action="{{endpoint}}" method="{{method}}">
        {{{forms}}}
        <div class="buttons d-flex justify-content-end">
          <button type="submit" class="btn btn-primary">提交資訊</button>
        </div>
      </form>
    </div>
  </div>
</div>